/* ========================================================== */
/* ========================= RESET ========================== */
/* ========================================================== */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ============================================================ */
/* ===================== ALL SCREEN SIZES ===================== */
/* ============================================================ */
:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #808080;
  --red: #ff0000;
  --aquamarine: #3df0cf;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
  background-image: url("../images/glitch-background.png");
  color: var(--white);
}

/* ============================================================ */
/* ============== MOBILE WITH SMALL SCREEN SIZE =============== */
/* ============================================================ */
@media screen and (min-width: 320px) {
  .wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

  .wrapper p {
    font-size: 6em;
  }

  .glitch {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  p .glitch__invisible-text {
    visibility: hidden;
  }

  .glitch__animate-text {
    position: absolute;
    top: 0;
    opacity: 0.9;
  }

  .glitch__animate-text:nth-child(2) {
    color: var(--red);
    animation: skew 3s infinite;
  }

  .glitch__animate-text:nth-child(3) {
    color: var(--aquamarine);
    animation: glitch2 3s infinite;
  }

  .glitch__animate-text:nth-child(4) {
    color: var(--white);
    animation: glitch3 3s infinite;
  }

  @keyframes skew {
    20% {
      transform: none;
    }
    23% {
      transform: skew(5deg, -5deg) translate(10px, 5px);
    }
    26% {
      transform: none;
    }
    40% {
      transform: none;
    }
    43% {
      transform: skew(5deg, -10deg) translate(-5px, 2px);
    }
    46% {
      transform: none;
    }
    100% {
      transform: none;
    }
  }

  @keyframes glitch2 {
    7% {
      transform: none;
    }
    10% {
      transform: translate(-6px, 2px);
    }
    13% {
      transform: none;
    }
    20% {
      transform: none;
    }
    23% {
      transform: translate(12px, -7px);
    }
    26% {
      transform: none;
    }
    40% {
      transform: none;
    }
    43% {
      transform: translate(-10px, 9px);
    }
    46% {
      transform: none;
    }
    65% {
      transform: none;
    }
    68% {
      transform: translate(-7px, -5px);
    }
    71% {
      transform: none;
    }
    100% {
      transform: none;
    }
  }

  @keyframes glitch3 {
    7% {
      transform: none;
    }
    10% {
      transform: translate(6px, -2px);
    }
    13% {
      transform: none;
    }
    20% {
      transform: none;
    }
    23% {
      transform: translate(-12px, 7px);
    }
    26% {
      transform: none;
    }
    40% {
      transform: none;
    }
    43% {
      transform: translate(10px, -9px);
    }
    46% {
      transform: none;
    }
    65% {
      transform: none;
    }
    68% {
      transform: translate(7px, 5px);
    }
    71% {
      transform: none;
    }
    100% {
      transform: none;
    }
  }
}

/* ============================================================ */
/* ============== MOBILE WITH MEDIUM SCREEN SIZE ============== */
/* ============================================================ */
@media screen and (min-width: 390px) {
}

/* ============================================================ */
/* =============== MOBILE WITH LARGE SCREEN SIZE ============== */
/* ============================================================ */
@media screen and (min-width: 428px) {
  .wrapper p {
    font-size: 8em;
  }
}

/* ============================================================ */
/* ========================== TABLET ========================== */
/* ============================================================ */
@media screen and (min-width: 768px) {
  .wrapper p {
    font-size: 10em;
  }
}

/* ============================================================ */
/* ========================== DESKTOP ========================= */
/* ============================================================ */
@media screen and (min-width: 992px) {
}
